[flake8]
max-line-length = 120
exclude =
    .venv,
    __pycache__,
    tests,
    build,
    dist,
    config/__init__.py
ignore =
    E501,  # line too long
    E402,  # module level import not at top of file
    E722,  # do not use bare except
    E203,  # whitespace before ':'
    F841,  # local variable assigned but never used
    W504,  # line break after binary operator
    E266,  # too many leading '#' for block comment
    W291,  # trailing whitespace
    W293,  # blank line contains whitespace
    E302,  # expected 2 blank lines
    E303,  # too many blank lines
    F401,  # module imported but unused